@media screen and (min-width: 992px) {
	.root {
		height: 460px;
	}
}

@media screen and (min-width: 1400px) {
	.root {
		height: 860px;
	}
}

.jumbotron {
	background-color: #fff;
}

.loginButton {
	min-width: 180px;
}

.jumbotronContent {
	max-width: 600px;
	text-align: center;
}

.header {
	font-size: 4rem;
}

.lead {
	font-size: 1.5rem;
}

.free::before {
	content: '——————————';
	margin-left: 11px;
	margin-right: 11px;
}

.free::after {
	content: '——————————';
	margin-left: 11px;
	margin-right: 11px;
}
