.root {
}

.recentCommit {
	font-size: 12px;
}

.truncate {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: top;
	white-space: nowrap;
}

td.icon {
	color: rgba(3, 47, 98, 0.55);
	padding-left: 10px;
	padding-right: 2px;
	width: 17px;
}

td.content {
	max-width: 180px;
}

td.status {
	width: 1em;
	padding-left: 2px;
	padding-right: 2px;
}

td.message {
	max-width: 442px;
	overflow: hidden;
	padding-left: 10px;
}

td.age {
	text-align: right;
	white-space: nowrap;
	width: 125px;
}

.deployMenu {
	font-size: 12px;
}

code {
	background-color: rgba(27, 31, 35, 0.05);
	border-radius: 3px;
	margin: 0;
	padding: 0.1em 0.4em;
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
	font-size: 12px;
}

.btnSmall {
	padding: 1px 2px !important;
	font-size: 12px !important;
}

.navOl {
	background-color: white;
	padding: 5px 0px;
	margin-bottom: 0px;
}
